<% layout("/layouts/boilerplate") %>

<h3 class="text-center">All Listings</h3>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4">
  <% for(listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" style="text-decoration: none">
    <div class="card listing-card col">
      <img
        src="<%= listing.image %>"
        class="card-img-top"
        alt="<%= listing.title %>"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b><br />
          &#8377; <%= listing.price.toLocaleString("EN-IN") %> / night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
